
h1 {
	margin: 40px;
	text-align: center;
}

.wrapper {
	overflow: auto;
}

.small-cat {
	width: 100px;
	display: block;
	margin: 20px;
	margin-left: 100px;

}

.sidebar {
	float: left;
	width: 20%;

}

.main-pic {
	margin-top: 20px;
	width: 400px;
}

.main {
	text-align: center;
	width: 80%;
}